.loginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.loginPage .logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    color: blue;
    font-size: 20px;
    margin-bottom:3rem;
    display: flex;
    align-items: center;
    gap: 4px;
}
.loginPage .logo img{
    height: 100px;
    width: 150px;
    color: red;
}
.loginDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 500px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.loginHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    font-family: Nunito Sans;
}
.loginHeader h3{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 2px;
}
.loginHeader p{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #999da9;
}
.googleLoginButton:hover{
    background-color: #eaecee !important;
}
.Divider{
    position: relative;
    width: 100%;
}
.divider-content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #f9f9f9;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    font-size: .8rem;
    color: rgba(82, 91, 117, 0.85);
    white-space: nowrap;
    font-weight: 700;
    display: flex;
    font-size: 13px;
}

form{
    width: 100%;
}
.input-holder{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    gap: 7px;
    margin-top: 25px;

}
.form-label{
    padding-left: 1rem;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-input-icon{
    position: relative;
}
.form-input-icon > input{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    line-height: 1.49;
    padding-left: 3rem;
    border-radius: 5px;
    background-color: whitesmoke;
    color: #31374a;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.form-input-icon > input:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
}
.login-error-message{
    color: red;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin: 5px 0;
    display: none;
}
.form-icon{
    position: absolute;
    top: 12px;
    left: 1rem;
    color: black;
    font-size: 17px;
}
.forgotPass{
    display: flex;
    justify-content: end;
    margin: 10px 0 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}