.registerPage{
    display: flex;
    height: 100vh;
}
.registerPage > div{
    width: 50%;
}
.register-img{
    background-color: black;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.registerDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 180px;
}
.registerDetails .logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    color: blue;
    font-size: 20px;
    margin-bottom: 1.5rem;
    display: flex;
    gap: 4px;
}
.registerDetails .logo img{
    height: 100px;
    width: 150px;
}
.pass-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
}
.pass-container > div{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.pass-container > div{
    width: 50%;
}