.registerPage{
    display: flex;
    height: 100vh;
}
.registerPage > div{
    width: 50%;
}
.register-img{
    background-color: black;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.registerDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 180px;
    /* width: 0%; */
}
.registerDetails .logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    color: blue;
    font-size: 20px;
    margin-bottom: 1.5rem;
    display: flex;
    gap: 4px;
}
.pass-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
}
.pass-container > div{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.reg-error-message{
    color: red;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin: 5px 0;
    display: none;
}
.pass-container > div{
    width: 50%;
}