.profilePage{
    width: 100%;
    position: relative;
    display: flex;
    height: 100vh;
    background-color: white;
    gap: 20px;
    position: sticky;
    padding: 0 3rem;

}
.profile-details{
    padding: 3.5rem;
    width: 75%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 20px;
    background-color: white;
}