.forgetPasswordPage {
  display: flex;

  align-items: center;

  justify-content: center;

  width: 100%;

  height: 100vh;
}

.forgetPasswordDetails {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  padding: 50px;

  height: 100%;

  width: 600px;
}
.forgetPasswordDetails .logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-weight: 800;

  color: blue;

  font-size: 20px;

  margin-bottom: 1.5rem;

  display: flex;

  gap: 4px;
}

.forgetPasswordDetails h4 {
  color: rgb(34, 40, 52);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.forgetPasswordDetails > p {
  margin: 7px 0px 30px;

  color: rgb(82, 91, 117);

  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-size: 13px;
}

.forgetPasswordDetails form {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  display: flex;

  align-items: center;

  width: 100%;

  gap: 7px;
}

.forgetPassForm input {
  width: 75%;

  padding: 10px;

  line-height: 1.49;

  border-radius: 5px;

  border: none;

  background-color: whitesmoke;

  color: #31374a;

  font-size: 13px;
}

form button {
  width: 25%;
}
