.accountSettings{
    width: 100%;
    position: relative;
    display: flex;
    height: 100vh;
    background-color: white;
    gap: 20px;
    position: sticky;
    padding: 0 1rem;

}
.settings-detail{
    padding: 3.5rem;
    width: 75%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 20px;
    background-color: white;

}
.heading h2{
    margin-bottom: 50px;
}
.editUserDetails h5{
    margin-bottom: 1rem;
    font-size: 1rem;
}
.settings-detail form{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.editUserDetails form input{
    width: 100%;
    border-radius: 5px;
    border: none;
    line-height: 1.6;
    padding: .55rem 1rem;
    border: 1px solid #dfe2e1;
    margin-top: 8px;
}
.editUserDetails form label{
    font-size: 14px;
    color: #3d4f58;
}
input:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
}

.editUserDetails hr{
    margin: 3rem 0;
    color: #dfe2e1;
    border-top: 1px solid #dfe2e1;
    width: 70%;
}

.passwordReset{
    gap: 20px;
    margin-bottom: 100px;
}
::-webkit-scrollbar {
    display: none;
}