.addressPage{
    width: 100%;
    position: relative;
    display: flex;
    height: auto;
    background-color: white;
    gap: 20px;
    position: sticky;
    padding: 0 1rem;
}
.addressDetails{
    padding: 3.5rem;
    width: 75%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 20px;
    background-color: white;
}
.addressHeader{
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.address-card-holder{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}
.address-cards {
    border: 1px solid #dfe2e1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}
.address-cards p{
    display: flex;
    gap: 10px;
    font-size: 15px;
}
.addressActions{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}