.userSideBar{
    width: 20%;
    padding: 2rem;
    border-right: 1px solid #dfe2e1;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
}

.sidebar-list-item{
    list-style: none;
    display: block;
    margin-top: 15px;
    border-radius: 5px;
    padding:3px 10px;
    width:80%;
}
.sidebar-list-item > a{

    color: black;
    padding: .5rem .75rem;
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
}
.sidebar-list-item:active a{
    color: white;
    border-radius: 5px;
    border-radius: .5rem;
    font-weight: 500;
    margin-bottom: .25rem;
    padding: .5rem .75rem;
}